.container {
    width: 80%;
    margin: 0 auto;
    background-color: #a56246;
    color: white;
    font-family: arial;
}

table {
  border-collapse: collapse;
}

a {
   text-decoration: none;
   color:white;
}
ul {
   list-style-type: none;
   margin: 1.5em;
   padding: 1.5em;
   line-height: 1.5em;
}

li {
   display: inline;
}

li a{
   text-align: left;
   text-decoration: none;
   padding: 1em;
   line-height: 1.5em;
}

.action {
    display: inline-block;
    padding: 1em;
    font-weight: bold;
    background: #a9143c;
    color: white;
    text-align: left;

}

.instructions {
   padding: 1em;
   line-height: 1.5em;
   text-align: center;
   font-weight: bold;
   font-size: 2.2em;
}

.inputform {
   background-color: #0a3161;
   padding:1em;
   margin: 1em -1em 0;
   font-size: 2.2em;
   

   
}
input[type=file]::file-selector-button{
   /* background-color: white; */
   font-weight: bold;
}

body {
   background: #a56246;
   color: darkblue;
}
.next-actions{
   display: grid;
   grid-template-columns: repeat(3, auto);
   margin-left: 0em;
   text-align: left;
   transform: none;
   margin-bottom: 1em;
}
.card{
   /* border-style:solid; */
   background-color:#0a3161;
   padding: 1.5em;
   line-height: 1.5em;
   text-align: left;
}

.information{

}
